body {
  overflow: hidden;
}

.row {
  position: absolute;
  top: 0;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  width: 100%;
  background-color: #FFF;
}

.fadeInUp {
  z-index: 10;
}

.fadeOutDown {
  z-index: 0;
}

.first-row {
  text-align: center;
}

.character {
  width: 30%;
  display: inline-block;
  margin: 0 auto 20px;
  transition: all .8s ease;
}

.character img {
  padding: 0 10px;
  width: 100%;
  border-radius: 50%;
  cursor: pointer;
}

#props-list li {
  width: 12%;
}

#props-list li img {
  width: 100%;
  vertical-align: baseline;
  padding: 5px;
  cursor: pointer;
}

#props-list li img:hover {
  opacity: .8;
}

.second-row {
  width: 30%;
  margin: 10% 35%;
}

.second-row input {
  width: 75%;
  display: inline-block;
}

.second-row button {
  width: 20%;
  vertical-align: baseline;
}

.error {
  color: #ffcc32;
  font-size: 18px;
}

.load {
  opacity: 1;
  animation: blink 2s infinite;
  transition: opacity .2s ease;
}

.third-row {
  margin: 0;
  padding: 0;
}

#record {
  position: absolute;
  bottom: 150px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
