* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
}

.hidden {
  display: none;
}

.title,
.app-title {
  position: absolute;
  z-index: 100;
  color: #333;
  font-family: 'Carme', sans-serif;
  text-align: left;
  top: 20px;
  left: 20px;
  width: 150px;
  height: 150px;
}

.app-title {
  top: 50px;
  left: 200px;
  width: 300px;
}

.title a {
  color: #FFF;
  width: 100%;
  height: 100%;
  display: block;
  background: center no-repeat url(/images/logo.png);
  background-size: contain;
}

.row {
  position: absolute;
  top: 0;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.fadeInUp {
  z-index: 10;
}

.fadeOutDown {
  z-index: 0;
}

.first-row {
  width: 100vw;
  text-align: left;
}

.character {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0 auto 20px;
  transition: all .8s ease;
  overflow: hidden;
  float: left;
  text-align: center;
}

.character .character-img {
  margin: 25% auto 0;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all .5s ease;
}

.character.left .character-img {
  background: #9dff3b center no-repeat url(/images/jcvd.png);
  right: -100px;
  background-size: contain;
}

.character.right .character-img {
  background: #007eff center no-repeat url(/images/slb.png);
  left: -100px;
  background-size: contain;
}

.character.left .character-img {
  right: -100%;
}

.character.right .character-img {
  left: -100%;
}

.character.active .character-img {
  opacity: 1;
}

.character.left.active .character-img {
  opacity: 1;
  right: 0;
}

.character.right.active .character-img {
  opacity: 1;
  left: 0;
}

.character p {
  margin-top: 30px;
  font-size: 24px;
}

.battle {
  position: absolute;
  top: 35%;
  left: 35%;
  text-align: center;
  width: 30%;
  height: 30%;
  margin: auto;
  background: center no-repeat url(/images/katana.png);
  background-size: contain;
}

.second-row {
  overflow: auto;
}

#props-list {
  text-align: left;
  overflow-x: hidden;
}

#props-list li {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#props-list p {
  margin: 0;
  padding: 0;
}

#props-list li div {
  width: 100%;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s ease;
}

#props-list li div.active,
#props-list li div:hover {
  opacity: 1;
}

.form {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 35%;
  background-color: rgba(0, 0, 0, .2);
  color: #FFF;
  font-size: 18px;
}

.form label {
  display: block;
  margin-bottom: 30px;
}

.form label a {
  color: #FFF;
}

.form input {
  width: 60%;
  min-width: 250px;
  display: inline-block;
  margin-right: 15px;
  background: rgba(0, 0, 0, .3);
  border: 1px solid #333;
  color: #FFF;
  padding: 5px;
}

.form .inputprogress-js{
  background: red;
  width: 0%;
  height: 37px;
}

.form button {
  width: 20%;
  min-width: 120px;
}

.error {
  color: #ffcc32;
  font-size: 18px;
  margin-top: 30px;
}

.load {
  margin-top: 30px;
  opacity: 1;
}

.third-row {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
}

.social {
  position: absolute;
  right: 1%;
  bottom: 40px;
  z-index: 10;
}

.make-new {
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 10;
  text-transform: uppercase;
  opacity: 0;
  background: center no-repeat url(/images/katana.png);
  width: 30%;
  height: 30%;
  display: block;
  margin: auto;
  transition: opacity .3s ease;
  color: #FFF;
  font-size: 24px;
}

.make-new:focus,
.make-new:hover {
  color: #FFF;
  text-decoration: none;
  opacity: 1;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 1%;
}

.browsehappy, .incompatible {
  z-index: 1000;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.youtube {
  background: url(/images/YouTube-logo-full_color.png) center no-repeat;
  width: 80px;
  height: 35px;
  display: inline-block;
  background-size: cover;
  margin-bottom: -10px;
}

.no-webgl{
  display: none;
  font-family: 'Varela Round', sans-serif;
}


.page-404 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
