body.hide-overflow {
  overflow: hidden;
}

.title {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.title a:hover,
.title a:active,
.title a:visited,
.title a:focus,
.title a {
  color: #333;
  text-decoration: none;
  opacity: 1;
  transition: opacity .3s ease;
}
.title a:hover,
.title a:active,
.title a:focus {
  opacity: .7;
}

.row {
  position: absolute;
  top: 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
}

.fadeInUp {
  z-index: 10;
}

.fadeOutDown {
  z-index: 0;
}

.first-row {
  text-align: center;
}

.character {
  width: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 auto 20px;
  transition: all .8s ease;
  overflow: hidden;
}

.character img {
  padding: 0 10%;
  width: 80%;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
  opacity: 0;
}

.character#jcvd img {
  right: -100%;
}

.character#slb img {
  left: -100%;
}

.character.active img {
  opacity: 1;
  width: 100%;
}

.character#jcvd.active img {
  opacity: 1;
  right: 0;
}

.character#slb.active img {
  opacity: 1;
  left: 0;
}

.character.active.smaller {
  height: 30%;
}

.separator {
  width: 2px;
  height: 0;
  background-color: #333;
  position: absolute;
  top: 0;
  left: 49.95%;
  transition: height .3s ease;
}

.separator.active {
  height: 100vh;
}

#props-list li {
  width: 12%;
  min-width: 150px;
}

#props-list li img {
  width: 100%;
  vertical-align: baseline;
  padding: 5px;
  cursor: pointer;
}

#props-list li img:hover {
  opacity: .8;
}

.form {
  width: 50%;
  margin: 30px 25% 0;
  text-align: right;
}

.form input {
  width: 75%;
  min-width: 300px;
  display: inline-block;
}

.form button {
  width: 20%;
  min-width: 100px;
  vertical-align: baseline;
}

.error {
  color: #ffcc32;
  font-size: 18px;
}

.load {
  opacity: 1;
  animation: blink 2s infinite;
  transition: opacity .2s ease;
}

.second-row {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
}

.social {
  position: absolute;
  right: 1%;
  bottom: 30px;
  width: 33%;
  z-index: 10;
}

#record {
  position: absolute;
  bottom: 150px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
