/*body.hide-overflow {*/
body {
  overflow: hidden;
  font-family: 'Varela Round', sans-serif;
}

.title,
.app-title {
  position: absolute;
  width: 100%;
  bottom: 50px;
  left: 20px;
  z-index: 100;
  text-align: center;
  color: #FFF;
  font-family: 'Carme', sans-serif;
}

.title {
  text-align: left;
  top: 20px;
  width: 150px;
  height: 50px
}

.row {
  position: absolute;
  top: 0;
  text-align: center;
  overflow: hidden;
  height: 100vh;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.fadeInUp {
  z-index: 10;
}

.fadeOutDown {
  z-index: 0;
}

.first-row {
  width: 100vw;
  text-align: left;
}

.character {
  width: 50%;
  height: 100%;
  display: inline-block;
  margin: 0 auto 20px;
  transition: all .8s ease;
  overflow: hidden;
  float: left;
  text-align: center;
}

.character.left {
  background-color: #9dff3b;
}

.character.right {
  background-color: #3c47c2;
}

.battle {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  font-size: 34px;
  color: #FFF;
  font-family: 'Carme', sans-serif;
}

.character img {
  width: 100%;
  margin-top: 10%;
  cursor: pointer;
  position: relative;
  transition: all .5s ease;
  opacity: 0;
}

.character.left img {
  right: -100%;
}

.character.right img {
  left: -100%;
}

.character.active img {
  opacity: 1;
}

.character.left.active img {
  opacity: 1;
  right: 0;
}

.character.right.active img {
  opacity: 1;
  left: 0;
}

.second-row {
  overflow: auto;
}

#props-list {
  text-align: left;
  overflow-x: hidden;
}

#props-list li {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

#props-list p {
  margin: 0;
  padding: 0;
}

#props-list li div {
  width: 100%;
  cursor: pointer;
  opacity: .8;
  transition: opacity .3s ease;
}

#props-list li div.active,
#props-list li div:hover {
  opacity: 1;
}

.form {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 35%;
  background-color: rgba(0, 0, 0, .2);
  color: #FFF;
  font-size: 18px;
}

.form label {
  display: block;
  margin-bottom: 30px;
}

.form label a {
  color: #FFF;
}

.form input {
  width: 60%;
  min-width: 250px;
  display: inline-block;
  margin-right: 15px;
  background: rgba(0, 0, 0, .3);
  border: 1px solid #333;
  color: #FFF;
  padding: 5px;
}

.form button {
  width: 20%;
  min-width: 120px;
}

.error {
  color: #ffcc32;
  font-size: 18px;
  margin-top: 30px;
}

.load {
  margin-top: 30px;
  opacity: 1;
}

.third-row {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #000;
}

.social {
  position: absolute;
  right: 1%;
  bottom: 40px;
  z-index: 10;
}

.make-new {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
  text-transform: uppercase;
  opacity: .5;
  transition: opacity .3s ease;
}

.make-new:focus,
.make-new:hover {
  opacity: 1;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 1%;
}

.browsehappy, .incompatible {
  z-index: 1000;
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.youtube {
  background: url(/images/YouTube-logo-full_color.png) center no-repeat;
  width: 80px;
  height: 35px;
  display: inline-block;
  background-size: cover;
  margin-bottom: -10px;
}
